<ion-tabs>

  <ion-tab-bar color="tertiary" slot="bottom">
    <ion-tab-button tab="order">
      <div class="tab-button-background">
        <ion-icon name="calendar"></ion-icon>
        <ion-label><br>{{"TABS.ORDER" | translate}}</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="cleaning">
      <div class="tab-button-background">
        <ion-icon name="checkmark-sharp"></ion-icon>
        <ion-label><br>Čišćenja</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="price-list">
      <div class="tab-button-background">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label><br>{{"TABS.PRICE" | translate}}</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <div class="tab-button-background">
        <ion-icon name="call"></ion-icon>
        <ion-label><br>{{"TABS.CONTACT" | translate}}</ion-label>
      </div>

    </ion-tab-button>

    <ion-tab-button tab="profile">
      <div class="tab-button-background">
        <ion-icon name="person"></ion-icon>
        <ion-label><br>{{"TABS.PROFILE" | translate}}</ion-label>
      </div>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>