.header{
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 1em;
}


.price-item{
    margin-top: 0.5em;
    border-radius: 10px;
}


.price_list{
    margin-top: 2em;
}

.add-car{
    margin-top: 15px;
}